body {
    background-image: url("../PIC/P.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: plum;
}

.labo4 {
    position: absolute;
    left: 75%;
    top:117px;
}
.labo6 {
    position: relative;
    left: 40%;
    top: -305px;
}
.labo7
{
    position: absolute;
    left: 75%;
    top:429px;
}