body {
    margin-left: 200px;
    margin-right: 200px;
    font-family: Calibri, serif;
}

.Youtube {
    height: 150px;
    background-color: #ff0000;
    color: white;
}

.Twitter {
    height: 150px;
    background-color: #1da1f2;
    color: white;
}

.Google {
    height: 150px;
    background-color: #4285f4;
    color: white;
}

.Instagram {
    height: 150px;
    background-color: #c32aa3;
    color: white;
}

.black_button {
    background-color: #14171a;
    color: white;
    width: 15%;
    padding: 5px 0 5px 0;
    border-radius: 15%;
    border-style: hidden;
}

.dark_gray_button {
    background-color: #282828;
    color: white;
    width: 15%;
    padding: 5px 0 5px 0;
    border-radius: 15%;
    border-style: hidden;
}

.orange_button {
    background-color: #ea4335;
    color: #ffdc7d;
    width: 15%;
    padding: 5px 0 5px 0;
    border-radius: 15%;
    border-style: hidden;
}

.yellow_button {
    background-color: #f46f30;
    color: #fbbc05;
    width: 15%;
    padding: 5px 0 5px 0;
    border-radius: 15%;
    border-style: hidden;
}

.search {
    padding-bottom: 10px;
}

div {
    padding: 20px 20px 0 20px;
}

.searchbox {
    padding: 6px 0 6px 10px;
    width: 100%;
}

.wrapperdiv {
    padding: 20px 20px 0 20px;
}

.gray {
    color: gray;
}

.bold {
    font-weight: bold;
}

.button {
    border-color: darkseagreen;
    border-width: 3px;
    background-color: #44a845;
}
#history {
    padding-top: 0;
}