/* items */
section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}

section div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

/* specific item styles */

.item-1 {
    background: #b03532;
}

.item-2 {
    background: #33a8a5;
}

.item-3 {
    background: #30997a;
}

.item-4 {
    background: #6a478f;
}

.item-5 {
    background: #da6f2b;
}

.item-6 {
    background: #3d8bb1;
}

.item-7 {
    background: #e03f3f;
}

.item-8 {
    background: #59a627;
}

.item-9 {
    background: #4464a1;
}

@media (max-width: 760px) {
    section {
        display: grid;
        grid-template-columns: repeat(2, auto);

    }

    .item-1 {
        background: #b03532;
        display: none;
    }

    .item-2 {
        background: #33a8a5;
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .item-3 {
        background: #30997a;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item-4 {
        background: #6a478f;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .item-5 {
        background: #da6f2b;
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .item-6 {
        background: #3d8bb1;
        display: none;
    }

    .item-7 {
        background: #e03f3f;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .item-8 {
        background: #59a627;
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .item-9 {
        background: #4464a1;
        grid-column-start: 1;
        grid-row-start: 1;
    }
}


