table{
    border: 2px solid black;
    border-collapse: collapse;
}

th{
    background-color: rgb(170,170,200);
    color: black;
}
tr:first-child td{
    background-color: rgb(35,37,70);
    color: rgb(200,190,240);
    text-align: center;
}
td:first-child{
    background-color:rgb(255, 220, 220);
}
td:last-child{
    background-color: rgb(255, 220, 220);
}
td{
    border: thin dotted;

}
tr:nth-child(2) td:first-child{
    background-color: #CCC;
    color: darkgray;
}
tr:last-child td:nth-child(5){
    background-color: #CCC;
    color: darkgray;
}
tr:last-child td:nth-child(6){
    background-color: #CCC;
    color: darkgray;
}
tr:last-child td:nth-child(7){
    background-color: #CCC;
    color: darkgray;
}

#free {
    background-color: rgb(250,120,120);
}