@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,400&display=swap');

:root{
    --yellow:#f9ca24;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:5px; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

*::selection{
    background:var(--yellow) ;
    color: #333;
}

html{
    overflow-x: hidden;
}

html::-webkit-scrollbar-track {
    background: pink;
}

html::-webkit-scrollbar-thumb {
    background:var(--yellow) ;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header.user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}

header .user .name {
    font-size: 3.5rem;
    color: #4f064f;
}

header .user .post {
    font-size: 3rem;
    color: #4f064f;
}

header .navbar {
    width: 100%;

}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: hotpink;
    color: #4f064f;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: var(--yellow);
}

#menu{
    position: fixed;
    top: 2rem; right: 2rem;
    background: #333;
    color: #4f064f;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

@media (max-device-width: 1200px) {

    html{
        font-size: 55%;
    }

}

@media (max-width:991px) {

    header{
        left: -120%;
    }
    #menu {
        display: block;
    }
}
body {
    background-image: url("../../../PIC/10971701.jpg");
    background-size: cover;
}
h1{
    color: #3a035d;
    position: center;
}
h4{
    color: darkblue;
}
